.nameBar{
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  border-radius: 50px;
  margin: 0 1rem;
  padding: 0.5rem;
  span{
    text-transform: capitalize;
    outline: none;
    &:nth-child(1), &:nth-child(3){
      cursor: pointer;
      color: var(--terciary-bgColor);
    }
    &:nth-child(2){
      font-size: 1.5rem;
      letter-spacing: .5rem;
      font-weight: 600;
    }
  }
}

.pokemonData{
  position: relative;
  display: grid;
  grid-template-columns: 32% 68%;
  margin-top: 1rem;
  padding: 1rem 0.5rem;
  color: #ffffff;
  z-index: 1;
  background: var(--forth-bgColor);
  &::before{
    position: absolute;
    content: "";
    top: -3px;
    bottom: -3px;
    left: -45px;
    width: 35rem;
    background: var(--secondary-bgColor);
    z-index: -1;
    transform: skew(350deg);
    box-shadow: 6px 0 10px 1px #000000;
  }
  img {
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 6px 10px 1px #000000;
  }
  .types{
    display: flex;
    .type{
      font-weight: 900;
      letter-spacing: 0.05rem;
      position: relative;
      width: 60px;
      border: 1px solid #ffffff;
      border-radius: 5px;
      text-align: center;
      text-transform: capitalize;
      padding: .3rem;
      margin: 0 .5rem;
      z-index: 1;
      box-shadow: 0 1px 10px 1px #000000;
      &::after{
        content: '';
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 35%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: -1;
      }
    }
    .grass{
      background-color: #008000;
    }
    .fire{
      background-color: #ff0000;
    }
    .water{
      background-color: #0000ff;
    }
    .poison{
      background-color: #800080;
    }
    .flying{
      background-color: #87cefa;
    }
    .bug{
      background-color: #9acd32;
    }
    .normal{
      background-color: #a9a9a9;
    }
    .electric{
      background-color: #e2e232;
    }
    .ground{
      background-color: #daa520;
    }
    .fairy{
      background-color: #ffc0cb;
    }
    .fighting{
      background-color: #8b0000;
    }
    .psychic{
      background-color: #ff00ff;
    }
    .rock{
      background-color: #808080;
    }
    .steel{
      background-color: #d3d3d3;
    }
    .ice{
      background-color: #20b2aa;
    }
    .ghost{
      background-color: #4b0082;
    }
    .dragon{
      background-color: #00008b;
    }
    .dark{
      background-color: #423942;
    }
  }
  .stats{
    color: black;
    width: 20rem;
    border: 1px solid var(--terciary-bgColor);
    border-radius: 5px;
    text-transform: capitalize;
    vertical-align: middle;
    margin: 0.5rem;
    background: rgba(255, 255, 255, 0.4);
    tr {
      th {
        border-bottom: 1px solid var(--terciary-bgColor);
        font-weight: 900;
      }
      td {
        text-align: center;
        margin: 0;
        padding: 0;
        border-bottom: 2px solid var(--terciary-bgColor);
        &:nth-child(1){
          border-right: 2px solid var(--terciary-bgColor);
        }
        &:nth-child(2){
          border-left: 2px solid var(--terciary-bgColor);
        }
      }
      &:last-child{
        td{
          border-bottom: none;
        }
      }
    }
  }
}

table.sprites{
  text-align: center;
  vertical-align: middle;
  margin: 0.5rem;
  padding: 0.5rem 0.1rem;
  border-radius: 10px;
  tr{
    background: rgba(255, 255, 255, 0.4);
    th {
      width: 120rem;
      border: 1px solid var(--terciary-bgColor);
      border-radius: 5px;
      font-weight: 900;
    }
    td {
      text-align: center;
      width: 100rem;
      border: 1px solid var(--terciary-bgColor);
      margin: 0;
    }
  }
  .genOne{
    position: relative;
    overflow: hidden;
    z-index: 1;
    &::before{
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      width: 50%;
      background: #ff0000;
      transform: skew(345deg);
      z-index: -1;
    }
    &::after{
      content: '';
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      width: 50%;
      background: #0000ff;
      transform: skew(345deg);
      z-index: -1;
    }
  }
  .genTwo{
    position: relative;
    overflow: hidden;
    z-index: 1;
    &::before{
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      width: 50%;
      background: #ffd900;
      transform: skew(345deg);
      z-index: -1;
    }
    &::after{
      content: '';
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      width: 50%;
      background: #c0c0c0;
      transform: skew(345deg);
      z-index: -1;
    }
    .gold{
      position: relative;
      overflow: hidden;
      z-index: 1;
      &::after{
        content: '';
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        width: 50%;
        background: #ffd900;
        transform: skew(345deg);
        z-index: -1;
      }
    }
    .silver{
      position: relative;
      overflow: hidden;
      z-index: 1;
      &::after{
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        bottom: 2px;
        width: 50%;
        background: #c0c0c0;
        transform: skew(345deg);
        z-index: -1;
      }
    }
    .crystal{
      position: relative;
      overflow: hidden;
      z-index: 1;
      &::after{
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        width: 100%;
        background: #add8e6;
        transform: skew(345deg);
        z-index: -1;
      }
    }
  }
  .genThree{
    position: relative;
    overflow: hidden;
    z-index: 1;
    &::before{
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      width: 50%;
      background: #ff0000;
      transform: skew(345deg);
      z-index: -1;
    }
    &::after{
      content: '';
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      width: 50%;
      background: #0000ff;
      transform: skew(345deg);
      z-index: -1;
    }
    .fireRedLeafGreen{
      position: relative;
      overflow: hidden;
      z-index: 1;
      &::after{
        content: '';
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        width: 50.3%;
        background: #008000;
        transform: skew(345deg);
        z-index: -1;
      }
    }
    .emerald{
      position: relative;
      overflow: hidden;
      z-index: 1;
      &::before{
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        bottom: 2px;
        width: 100%;
        background: #008000;
        transform: skew(345deg);
        z-index: -1;
      }
    }
  }
  .genFour{
    position: relative;
    overflow: hidden;
    z-index: 1;
    &::before{
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      width: 50%;
      background: #add8e6;
      transform: skew(345deg);
      z-index: -1;
    }
    &::after{
      content: '';
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      width: 50%;
      background: #ffc0cb;
      transform: skew(345deg);
      z-index: -1;
    }
    .platinum{
      position: relative;
      overflow: hidden;
      z-index: 1;
      &::before{
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        width: 100%;
        background: #eee8aa;
        transform: skew(345deg);
        z-index: -1;
      }
    }
    .heartgoldSoulsilver{
      position: relative;
      overflow: hidden;
      z-index: 1;
      &::before{
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        bottom: 2px;
        width: 50%;
        background: #ffd900;
        transform: skew(345deg);
        z-index: -1;
      }
      &::after{
        content: '';
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        width: 50%;
        background: #c0c0c0;
        transform: skew(345deg);
        z-index: -1;
      }
    }
  }
  .genFive{
    position: relative;
    overflow: hidden;
    z-index: 1;
    &::before{
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      width: 50%;
      background: #000000;
      transform: skew(345deg);
      z-index: -1;
    }
    &::after{
      content: '';
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      width: 50%;
      background: #ffffff;
      transform: skew(345deg);
      z-index: -1;
    }
  }
  .genSix{
    position: relative;
    overflow: hidden;
    z-index: 1;
    &::before{
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      width: 50%;
      background: #00008b;
      transform: skew(345deg);
      z-index: -1;
    }
    &::after{
      content: '';
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      width: 50%;
      background: #8b0000;
      transform: skew(345deg);
      z-index: -1;
    }
    .omegaAlpha{
      position: relative;
      overflow: hidden;
      z-index: 1;
      &::before{
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        bottom: 2px;
        width: 50%;
        background: #ff0000;
        transform: skew(345deg);
        z-index: -1;
      }
      &::after{
        content: '';
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        width: 50%;
        background: #0000ff;
        transform: skew(345deg);
        z-index: -1;
      }
    }
  }
  .genSeven{
    position: relative;
    overflow: hidden;
    z-index: 1;
    &::before{
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      width: 50%;
      background: #ffa600;
      transform: skew(345deg);
      z-index: -1;
    }
    &::after{
      content: '';
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      width: 50%;
      background: #00008b;
      transform: skew(345deg);
      z-index: -1;
    }
  }
  .genEight{
    position: relative;
    overflow: hidden;
    z-index: 1;
    &::before{
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      width: 50%;
      background: #dc143c;
      transform: skew(345deg);
      z-index: -1;
    }
    &::after{
      content: '';
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      width: 50%;
      background: #6494ed;
      transform: skew(345deg);
      z-index: -1;
    }
  }
}
