<app-spinner *ngIf="!isContentLoaded"></app-spinner>
<div class="pokemon-container" *ngIf="isContentLoaded">
  <div class="nameBar">
    <span routerLink="/pokemon/{{pokemon.id - 1}}" *ngIf="pokemon.id > 1" (click)="getPokemon(pokemon.id - 1)" class="navigation">Previous</span>
    <span class="pokemonName">#{{pokemon.id}} {{pokemon.name}}</span>
    <span routerLink="/pokemon/{{pokemon.id + 1}}" *ngIf="pokemon.id < 898" (click)="getPokemon(pokemon.id + 1)" class="navigation">Next</span>
  </div>
  <div class="pokemonData">
    <img [src]="pokemon.sprites.other['official-artwork'].front_default" alt="" />
    <div class="data">
      <div class="types">
        <div *ngFor="let type of pokemon.types" class="type {{type.type.name}}">{{type.type.name}}</div>
      </div>
      <table class="otherData">
        <tr><th colspan="2">Other Data</th></tr>
        <tr>
          <td>Height</td>
          <td>{{pokemon.height / 10}}m</td>
        </tr>
        <tr>
          <td>Weight</td>
          <td>{{pokemon.weight / 10}}kg</td>
        </tr>
      </table>
      <table class="abilities">
        <tr><th colspan="2">Abilities</th></tr>
        <tr *ngFor = "let ability of pokemon.abilities">
          <td>{{ability.ability.name}}</td>
          <td *ngIf="!ability.is_hidden; else elseBlock">Ability number {{ability.slot}}</td>
          <ng-template #elseBlock><td>Hidden ability</td></ng-template>
        </tr>
      </table>
      <table class="stats">
        <tr><th colspan="2">Base stats</th></tr>
        <tr *ngFor = "let stats of pokemon.stats">
          <td>{{stats.stat.name}}</td>
          <td>{{stats.base_stat}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="evolutionChain oneStage" *ngIf="pokemon.evolution_chain.chain.evolves_to.length == 0" >
    <div routerLink="/pokemon/{{pokemon.evolution_chain.chain.stage1Id}}" (click)="getPokemon(pokemon.evolution_chain.chain.stage1Id)" class="stagePictureContainer">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pokemon.evolution_chain.chain.stage1Id}}.png" alt="" class="evolutionIMG">
      <span>{{pokemon.evolution_chain.chain.species.name}}</span>
    </div>
  </div>

  <div class="evolutionChain" *ngIf="pokemon.evolution_chain.chain.evolves_to.length != 0"
    [ngClass]="{'twoStages': pokemon.evolution_chain.chain.evolves_to.length > 0,
                'threeStages': pokemon.evolution_chain.chain.evolves_to[0].evolves_to.length > 0}"
  >
    <div routerLink="/pokemon/{{pokemon.evolution_chain.chain.stage1Id}}" (click)="getPokemon(pokemon.evolution_chain.chain.stage1Id)" class="stagePictureContainer">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pokemon.evolution_chain.chain.stage1Id}}.png" alt="" class="evolutionIMG">
      <span>{{pokemon.evolution_chain.chain.species.name}}</span>
    </div>
    <div class="secondStages" *ngIf="pokemon.evolution_chain.chain.evolves_to.length !== 0">
      <div *ngFor="let stage2 of pokemon.evolution_chain.chain.evolves_to" id="st">
        <div class="stage">
          <div routerLink="/pokemon/{{stage2.stage2Id}}" (click)="getPokemon(stage2.stage2Id)" class="stagePictureContainer">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{stage2.stage2Id}}.png" alt="" class="evolutionIMG">
            {{stage2.species.name}}
          </div>
          <div class="evolutionConditions">
            <div *ngFor="let version of stage2.evolution_details">
              <span *ngIf="version.min_level">Level {{version.min_level}}</span>
              <span *ngIf="version.min_happiness">Happiness {{version.min_happiness}}</span>
              <span *ngIf="version.time_of_day">Time of day {{version.time_of_day}}</span>
              <span *ngIf="version.item">Use {{version.item.name}}</span>
              <span *ngIf="version.gender">
                <span *ngIf="version.gender == 1"> female</span>
                <span *ngIf="version.gender == 2"> male</span>
              </span>
              <span *ngIf="version.location">level up in {{version.location.name}}</span>
              <span *ngIf="version.known_move">Knows {{version.known_move.name}}</span>
              <span *ngIf="version.known_move_type">Knows a {{version.known_move_type.name}} type move</span>
            </div>
          </div>
        </div>

        <div *ngIf="stage2.evolves_to.length !== 0" class="thirdStages">
          <div *ngFor="let stage3 of stage2.evolves_to">
            <div class="stage">
              <div routerLink="/pokemon/{{stage3.stage3Id}}" (click)="getPokemon(stage3.stage3Id)" class="stagePictureContainer">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{stage3.stage3Id}}.png" alt="" class="evolutionIMG">
                {{stage3.species.name}}
              </div>
              <div class="evolutionConditions">
                <div *ngFor="let version of stage3.evolution_details">
                  <span *ngIf="version.min_level">Level {{version.min_level}}</span>
                  <span *ngIf="version.min_happiness">Happiness {{version.min_happiness}}</span>
                  <span *ngIf="version.item">Use {{version.item.name}}</span>
                  <span *ngIf="version.gender">
                    <span *ngIf="version.gender == 1"> female</span>
                    <span *ngIf="version.gender == 2"> male</span>
                  </span>
                  <span *ngIf="version.known_move">Knows {{version.known_move.name}}</span>
                  <span *ngIf="version.known_move_type">Knows a {{version.known_move_type.name}} type move</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="movesTableController" (click)="isMovesTableHide = !isMovesTableHide">
    <span *ngIf="isMovesTableHide">Show Move Table</span>
    <span *ngIf="!isMovesTableHide">Hide Move Table</span>
  </div>
  <div class="moveList">
    <div class="moveList__title"><h2>Moves</h2></div>
  </div>
  <div class="moveList" *ngIf="!isMovesTableHide">
    <div class="moveList__header">
      <div>Move</div>
      <div>Version</div>
      <div>Method</div>
      <div>Level</div>
    </div>
    <div class="moveList__body" *ngFor="let move of moves  | paginate: config">
      <div class="move_name">{{move.move.name}}</div>
      <div>
        <div class="version_details" *ngFor="let version of move.version_group_details">
          <div>{{version.version_group.name}}</div>
          <div>{{version.move_learn_method.name}}</div>
          <div>{{version.level_learned_at}}</div>
        </div>
      </div>
    </div>
    <div class="paginationControls">
      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
  </div>

  <table class="sprites">
    <tr><th colspan="8"><h2>Sprites</h2></th></tr>
    <div class="genOne" *ngIf="pokemon.sprites.versions['generation-i']['red-blue'].front_default">
      <tr><th colspan="8"><h4>Gen one</h4></th></tr>
      <div class="redBlue">
        <tr><td colspan="8"><h5>Red and Blue</h5></td></tr>
        <tr>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-i']['red-blue'].front_default" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-i']['red-blue'].back_default" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-i']['red-blue'].front_gray" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-i']['red-blue'].back_gray" alt="" /></td>
        </tr>
        <tr>
          <td colspan="2">Front default</td>
          <td colspan="2">Back default</td>
          <td colspan="2">Front gray</td>
          <td colspan="2">Back gray </td>
        </tr>
      </div>
      <div class="yellow">
        <tr><td colspan="8"><h5>Yellow</h5></td></tr>
        <tr>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-i']['yellow'].front_default" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-i']['yellow'].back_default" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-i']['yellow'].front_gray" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-i']['yellow'].back_gray" alt="" /></td>
        </tr>
        <tr>
          <td colspan="2">Front default</td>
          <td colspan="2">Back default</td>
          <td colspan="2">Front gray</td>
          <td colspan="2">Back gray </td>
        </tr>
      </div>
    </div>
    <div class="genTwo" *ngIf="pokemon.sprites.versions['generation-ii']['gold'].front_default">
      <tr><th colspan="8"><h4>Gen two</h4></th></tr>
      <div class="gold">
        <tr><td colspan="8"><h5>Gold</h5></td></tr>
        <tr>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-ii']['gold'].front_default" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-ii']['gold'].back_default" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-ii']['gold'].front_shiny" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-ii']['gold'].back_shiny" alt="" /></td>
        </tr>
        <tr>
          <td colspan="2">Front default</td>
          <td colspan="2">Back default</td>
          <td colspan="2">Front shiny</td>
          <td colspan="2">Back shiny </td>
        </tr>
      </div>
      <div class="silver">
        <tr><td colspan="8"><h5>Silver</h5></td></tr>
        <tr>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-ii']['silver'].front_default" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-ii']['silver'].back_default" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-ii']['silver'].front_shiny" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-ii']['silver'].back_shiny" alt="" /></td>
        </tr>
        <tr>
          <td colspan="2">Front default</td>
          <td colspan="2">Back default</td>
          <td colspan="2">Front shiny</td>
          <td colspan="2">Back shiny </td>
        </tr>
      </div>
      <div class="crystal">
        <tr><td colspan="8"><h5>Crystal</h5></td></tr>
        <tr>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-ii']['crystal'].front_default" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-ii']['crystal'].back_default" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-ii']['crystal'].front_shiny" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-ii']['crystal'].back_shiny" alt="" /></td>
        </tr>
        <tr>
          <td colspan="2">Front default</td>
          <td colspan="2">Back default</td>
          <td colspan="2">Front shiny</td>
          <td colspan="2">Back shiny </td>
        </tr>
      </div>
    </div>
    <div class="genThree" *ngIf="pokemon.sprites.versions['generation-iii']['ruby-sapphire'].front_default">
      <tr><th colspan="8"><h4>Gen three</h4></th></tr>
      <div class="rubySapphire">
        <tr><td colspan="8"><h5>Ruby and Sapphire</h5></td></tr>
        <tr>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-iii']['ruby-sapphire'].front_default" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-iii']['ruby-sapphire'].back_default" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-iii']['ruby-sapphire'].front_shiny" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-iii']['ruby-sapphire'].back_shiny" alt="" /></td>
        </tr>
        <tr>
          <td colspan="2">Front default</td>
          <td colspan="2">Back default</td>
          <td colspan="2">Front shiny</td>
          <td colspan="2">Back shiny </td>
        </tr>
      </div>
      <div class="fireRedLeafGreen" *ngIf="pokemon.sprites.versions['generation-iii']['firered-leafgreen'].front_default">
        <tr><td colspan="8"><h5>Fire Red and Leaf Green</h5></td></tr>
        <tr>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-iii']['firered-leafgreen'].front_default" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-iii']['firered-leafgreen'].back_default" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-iii']['firered-leafgreen'].front_shiny" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-iii']['firered-leafgreen'].back_shiny" alt="" /></td>
        </tr>
        <tr>
          <td colspan="2">Front default</td>
          <td colspan="2">Back default</td>
          <td colspan="2">Front shiny</td>
          <td colspan="2">Back shiny </td>
        </tr>
      </div>
      <div class="emerald">
        <tr><td colspan="8"><h5>Emerald</h5></td></tr>
        <tr>
          <td colspan="4"><img [src]="pokemon.sprites.versions['generation-iii']['emerald'].front_default" alt="" /></td>
          <td colspan="4"><img [src]="pokemon.sprites.versions['generation-iii']['emerald'].front_shiny" alt="" /></td>
        </tr>
        <tr>
          <td colspan="4">Front default</td>
          <td colspan="4">Front shiny</td>
        </tr>
      </div>
    </div>
    <div class="genFour" *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_default">
      <tr><th colspan=8><h4>Gen four</h4></th></tr>
      <div class="diamondPearl">
        <tr><td colspan="8"><h5>Diamond and Pearl</h5></td></tr>
        <tr>
          <td><img [src]="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_default" alt="" /></td>
          <td><img [src]="pokemon.sprites.versions['generation-iv']['diamond-pearl'].back_default" alt="" /></td>
          <td><img [src]="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_shiny" alt="" /></td>
          <td><img [src]="pokemon.sprites.versions['generation-iv']['diamond-pearl'].back_shiny" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female"><img [src]="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female"><img [src]="pokemon.sprites.versions['generation-iv']['diamond-pearl'].back_female" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female"><img [src]="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_shiny_female" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female"><img [src]="pokemon.sprites.versions['generation-iv']['diamond-pearl'].back_shiny_female" alt="" /></td>
        </tr>
        <tr>
          <td>Front default</td>
          <td>Back default</td>
          <td>Front shiny</td>
          <td>Back shiny </td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female">Front female</td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female">Back female</td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female">Front shiny female</td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female">Back shiny female</td>
        </tr>
      </div>
      <div class="platinum">
        <tr><td colspan="8"><h5>Platinum</h5></td></tr>
        <tr>
          <td><img [src]="pokemon.sprites.versions['generation-iv']['platinum'].front_default" alt="" /></td>
          <td><img [src]="pokemon.sprites.versions['generation-iv']['platinum'].back_default" alt="" /></td>
          <td><img [src]="pokemon.sprites.versions['generation-iv']['platinum'].front_shiny" alt="" /></td>
          <td><img [src]="pokemon.sprites.versions['generation-iv']['platinum'].back_shiny" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female"><img [src]="pokemon.sprites.versions['generation-iv']['platinum'].front_female" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female"><img [src]="pokemon.sprites.versions['generation-iv']['platinum'].back_female" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female"><img [src]="pokemon.sprites.versions['generation-iv']['platinum'].front_shiny_female" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female"><img [src]="pokemon.sprites.versions['generation-iv']['platinum'].back_shiny_female" alt="" /></td>
        </tr>
        <tr>
          <td>Front default</td>
          <td>Back default</td>
          <td>Front shiny</td>
          <td>Back shiny </td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female">Front female</td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female">Back female</td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female">Front shiny female</td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female">Back shiny female</td>
        </tr>
      </div>
      <div class="heartgoldSoulsilver">
        <tr><td colspan="8"><h5>HeartGold and SoulSilver</h5></td></tr>
        <tr>
          <td><img [src]="pokemon.sprites.versions['generation-iv']['heartgold-soulsilver'].front_default" alt="" /></td>
          <td><img [src]="pokemon.sprites.versions['generation-iv']['heartgold-soulsilver'].back_default" alt="" /></td>
          <td><img [src]="pokemon.sprites.versions['generation-iv']['heartgold-soulsilver'].front_shiny" alt="" /></td>
          <td><img [src]="pokemon.sprites.versions['generation-iv']['heartgold-soulsilver'].back_shiny" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female"><img [src]="pokemon.sprites.versions['generation-iv']['heartgold-soulsilver'].front_female" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female"><img [src]="pokemon.sprites.versions['generation-iv']['heartgold-soulsilver'].back_female" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female"><img [src]="pokemon.sprites.versions['generation-iv']['heartgold-soulsilver'].front_shiny_female" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female"><img [src]="pokemon.sprites.versions['generation-iv']['heartgold-soulsilver'].back_shiny_female" alt="" /></td>
        </tr>
        <tr>
          <td>Front default</td>
          <td>Back default</td>
          <td>Front shiny</td>
          <td>Back shiny </td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female">Front female</td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female">Back female</td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female">Front shiny female</td>
          <td *ngIf="pokemon.sprites.versions['generation-iv']['diamond-pearl'].front_female">Back shiny female</td>
        </tr>
      </div>
    </div>
    <div class="genFive" *ngIf="pokemon.sprites.versions['generation-v']['black-white'].front_default">
      <tr><th colspan=8><h4>Gen five</h4></th></tr>
      <div class="bwStatic">
        <tr><td colspan="8"><h5>Black and White and Black and White 2 (static)</h5></td></tr>
        <tr>
          <td><img [src]="pokemon.sprites.versions['generation-v']['black-white'].front_default" alt="" /></td>
          <td><img [src]="pokemon.sprites.versions['generation-v']['black-white'].back_default" alt="" /></td>
          <td><img [src]="pokemon.sprites.versions['generation-v']['black-white'].front_shiny" alt="" /></td>
          <td><img [src]="pokemon.sprites.versions['generation-v']['black-white'].back_shiny" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-v']['black-white'].front_female"><img [src]="pokemon.sprites.versions['generation-v']['black-white'].front_female" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-v']['black-white'].front_female"><img [src]="pokemon.sprites.versions['generation-v']['black-white'].back_female" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-v']['black-white'].front_female"><img [src]="pokemon.sprites.versions['generation-v']['black-white'].front_shiny_female" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-v']['black-white'].front_female"><img [src]="pokemon.sprites.versions['generation-v']['black-white'].back_shiny_female" alt="" /></td>
        </tr>
        <tr>
          <td>Front default</td>
          <td>Back default</td>
          <td>Front shiny</td>
          <td>Back shiny </td>
          <td *ngIf="pokemon.sprites.versions['generation-v']['black-white'].front_female">Front female</td>
          <td *ngIf="pokemon.sprites.versions['generation-v']['black-white'].front_female">Back female</td>
          <td *ngIf="pokemon.sprites.versions['generation-v']['black-white'].front_female">Front shiny female</td>
          <td *ngIf="pokemon.sprites.versions['generation-v']['black-white'].front_female">Back shiny female</td>
        </tr>
      </div>
      <div class="bwanimated">
        <tr><td colspan="8"><h5>Black and White and Black and White 2 (animated)</h5></td></tr>
        <tr>
          <td><img [src]="pokemon.sprites.versions['generation-v']['black-white'].animated.front_default" alt="" /></td>
          <td><img [src]="pokemon.sprites.versions['generation-v']['black-white'].animated.back_default" alt="" /></td>
          <td><img [src]="pokemon.sprites.versions['generation-v']['black-white'].animated.front_shiny" alt="" /></td>
          <td><img [src]="pokemon.sprites.versions['generation-v']['black-white'].animated.back_shiny" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-v']['black-white'].front_female"><img [src]="pokemon.sprites.versions['generation-v']['black-white'].animated.front_female" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-v']['black-white'].front_female"><img [src]="pokemon.sprites.versions['generation-v']['black-white'].animated.back_female" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-v']['black-white'].front_female"><img [src]="pokemon.sprites.versions['generation-v']['black-white'].animated.front_shiny_female" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-v']['black-white'].front_female"><img [src]="pokemon.sprites.versions['generation-v']['black-white'].animated.back_shiny_female" alt="" /></td>
        </tr>
        <tr>
          <td>Front default</td>
          <td>Back default</td>
          <td>Front shiny</td>
          <td>Back shiny </td>
          <td *ngIf="pokemon.sprites.versions['generation-v']['black-white'].front_female">Front female</td>
          <td *ngIf="pokemon.sprites.versions['generation-v']['black-white'].front_female">Back female</td>
          <td *ngIf="pokemon.sprites.versions['generation-v']['black-white'].front_female">Front shiny female</td>
          <td *ngIf="pokemon.sprites.versions['generation-v']['black-white'].front_female">Back shiny female</td>
        </tr>
      </div>
    </div>
    <div class="genSix" *ngIf="pokemon.sprites.versions['generation-vi']['x-y'].front_default">
      <tr><th colspan=8><h4>Gen six</h4></th></tr>
      <div class="xy">
        <tr><td colspan="8"><h5>X and Y</h5></td></tr>
        <tr>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-vi']['x-y'].front_default" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-vi']['x-y'].front_shiny" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-vi']['x-y'].front_female" colspan="2"><img [src]="pokemon.sprites.versions['generation-vi']['x-y'].front_female" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-vi']['x-y'].front_female" colspan="2"><img [src]="pokemon.sprites.versions['generation-vi']['x-y'].front_shiny_female" alt="" /></td>
        </tr>
        <tr>
          <td colspan="2">Front default</td>
          <td colspan="2">Front shiny</td>
          <td *ngIf="pokemon.sprites.versions['generation-vi']['x-y'].front_female" colspan="2">Front female</td>
          <td *ngIf="pokemon.sprites.versions['generation-vi']['x-y'].front_female" colspan="2">Front shiny female</td>
        </tr>
      </div>
      <div class="omegaAlpha">
        <tr><td colspan="8"><h5>Omega Ruby and Alpha Sapphire</h5></td></tr>
        <tr>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-vi']['omegaruby-alphasapphire'].front_default" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-vi']['omegaruby-alphasapphire'].front_shiny" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-vi']['x-y'].front_female" colspan="2"><img [src]="pokemon.sprites.versions['generation-vi']['omegaruby-alphasapphire'].front_female" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-vi']['x-y'].front_female" colspan="2"><img [src]="pokemon.sprites.versions['generation-vi']['omegaruby-alphasapphire'].front_shiny_female" alt="" /></td>
        </tr>
        <tr>
          <td colspan="2">Front default</td>
          <td colspan="2">Front shiny</td>
          <td *ngIf="pokemon.sprites.versions['generation-vi']['x-y'].front_female" colspan="2">Front female</td>
          <td *ngIf="pokemon.sprites.versions['generation-vi']['x-y'].front_female" colspan="2">Front shiny female</td>
        </tr>
      </div>
    </div>
    <div class="genSeven" *ngIf="pokemon.sprites.versions['generation-vii']['ultra-sun-ultra-moon'].front_default">
      <tr><th colspan="8"><h4>Gen seven</h4></th></tr>
      <div class="sunMoon">
        <tr><td colspan="8"><h5>Sun and Moon and Ultra sun and Ultra moon</h5></td></tr>
        <tr>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-vii']['ultra-sun-ultra-moon'].front_default" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-vii']['ultra-sun-ultra-moon'].front_shiny" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-vii']['ultra-sun-ultra-moon'].front_female" colspan="2"><img [src]="pokemon.sprites.versions['generation-vii']['ultra-sun-ultra-moon'].front_female" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-vii']['ultra-sun-ultra-moon'].front_female" colspan="2"><img [src]="pokemon.sprites.versions['generation-vii']['ultra-sun-ultra-moon'].front_shiny_female" alt="" /></td>
        </tr>
        <tr>
          <td colspan="2">Front default</td>
          <td colspan="2">Front shiny</td>
          <td *ngIf="pokemon.sprites.versions['generation-vii']['ultra-sun-ultra-moon'].front_female" colspan="2">Front female</td>
          <td *ngIf="pokemon.sprites.versions['generation-vii']['ultra-sun-ultra-moon'].front_female" colspan="2">Front shiny female</td>
        </tr>
      </div>
    </div>
    <div class="genEight" *ngIf="pokemon.sprites.versions['generation-vii']['ultra-sun-ultra-moon'].front_default">
      <tr><th colspan="8"><h4>Gen eight</h4></th></tr>
      <div class="sunMoon">
        <tr><td colspan="8"><h5>Sword and Shield</h5></td></tr>
        <tr>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-vii']['ultra-sun-ultra-moon'].front_default" alt="" /></td>
          <td colspan="2"><img [src]="pokemon.sprites.versions['generation-vii']['ultra-sun-ultra-moon'].front_shiny" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-vii']['ultra-sun-ultra-moon'].front_female" colspan="2"><img [src]="pokemon.sprites.versions['generation-vii']['ultra-sun-ultra-moon'].front_female" alt="" /></td>
          <td *ngIf="pokemon.sprites.versions['generation-vii']['ultra-sun-ultra-moon'].front_female" colspan="2"><img [src]="pokemon.sprites.versions['generation-vii']['ultra-sun-ultra-moon'].front_shiny_female" alt="" /></td>
        </tr>
        <tr>
          <td colspan="2">Front default</td>
          <td colspan="2">Front shiny</td>
          <td *ngIf="pokemon.sprites.versions['generation-vii']['ultra-sun-ultra-moon'].front_female" colspan="2">Front female</td>
          <td *ngIf="pokemon.sprites.versions['generation-vii']['ultra-sun-ultra-moon'].front_female" colspan="2">Front shiny female</td>
        </tr>
      </div>
    </div>
  </table>
</div>
