.navbar-container{
    font-family: 'Karla', sans-serif;
    height: 1.5rem;
    background: var(--primary-bgColor);
    display: grid;
    grid-template-columns: 7% 35% 35% 22%;
    gap: 0.5%;
    padding: 1rem;
    color: white;
    transition: 1s;
    .logo-container{
      outline: none;
    }
    .list{
        text-align: center;
        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            margin-top: 1rem;
        }
        .list_item{
            cursor: pointer;
            margin-right: 0.5rem;
            outline: none;
        }
        .list_item:hover{
            font-weight: 600;
        }
    }
    app-searchbar{
      z-index: 50;
    }
}
.displayedList{
    height: 5rem;
}
