<div class="navbar-container" [ngClass]="{displayedList : isHovered}">
    <div class="logo-container" routerLink="/">
        <div></div>
    </div>
    <div class="list filterByGeneration">
        <p>Pokemon</p>
        <ul class="hidden">
            <li class="list_item generation" routerLink="/pokemon" (click)="sendGeneration('?offset=0&limit=151')">First generation</li>
            <li class="list_item generation" routerLink="/pokemon" (click)="sendGeneration('?offset=151&limit=100')">Second generation</li>
            <li class="list_item generation" routerLink="/pokemon" (click)="sendGeneration('?offset=251&limit=135')">Third generation</li>
            <li class="list_item generation" routerLink="/pokemon" (click)="sendGeneration('?offset=386&limit=107')">Forth generation</li>
            <li class="list_item generation" routerLink="/pokemon" (click)="sendGeneration('?offset=493&limit=156')">Fith generation</li>
            <li class="list_item generation" routerLink="/pokemon" (click)="sendGeneration('?offset=649&limit=72')">Sixth generation</li>
            <li class="list_item generation" routerLink="/pokemon" (click)="sendGeneration('?offset=721&limit=88')">Seventh generation</li>
            <li class="list_item generation" routerLink="/pokemon" (click)="sendGeneration('?offset=809&limit=89')">Eigth generation</li>
        </ul>
    </div>
    <div class="list filterByItemClass">
        <p>Items</p>
        <ul class="hidden">
            <li class="list_item itemClass" routerLink="/items" [queryParams]="{category: 'pokeballs' }">Pokebals</li>
            <li class="list_item itemClass" routerLink="/items" [queryParams]="{category: 'medicines' }">Medicines</li>
        </ul>
    </div>
    <app-searchbar></app-searchbar>
</div>
