<div class="navbar-container" [ngClass]="{displayedList : isHovered}">
    <div class="logo-container" routerLink="/">
        <img src="#" alt="Pokéball" class="logo">
    </div>
    <div class="list filterByGeneration" (mouseenter)="onHover()" (mouseleave)="onHover()">
        <p>Pokemon</p>
        <ul>
            <li class="list_item generation" [hidden]="isHovered === false" routerLink="/pokemon" (click)="sendGeneration('?offset=0&limit=151')">First generation</li>
            <li class="list_item generation" [hidden]="isHovered === false" routerLink="/pokemon" (click)="sendGeneration('?offset=151&limit=100')">Second generation</li>
            <li class="list_item generation" [hidden]="isHovered === false" routerLink="/pokemon" (click)="sendGeneration('?offset=251&limit=135')">Third generation</li>
            <li class="list_item generation" [hidden]="isHovered === false" routerLink="/pokemon" (click)="sendGeneration('?offset=386&limit=107')">Forth generation</li>
            <li class="list_item generation" [hidden]="isHovered === false" routerLink="/pokemon" (click)="sendGeneration('?offset=493&limit=156')">Fith generation</li>
            <li class="list_item generation" [hidden]="isHovered === false" routerLink="/pokemon" (click)="sendGeneration('?offset=649&limit=72')">Sixth generation</li>
            <li class="list_item generation" [hidden]="isHovered === false" routerLink="/pokemon" (click)="sendGeneration('?offset=721&limit=88')">Seventh generation</li>
            <li class="list_item generation" [hidden]="isHovered === false" routerLink="/pokemon" (click)="sendGeneration('?offset=809&limit=89')">Eigth generation</li>
        </ul>
    </div>
    <div class="list filterByItemClass" (mouseenter)="onHover()" (mouseleave)="onHover()">
        <p>Items</p>
        <ul>
            <li class="list_item itemClass" [hidden]="isHovered === false" routerLink="/items/pokeballs" (click)="sendGeneration('?offset=0&limit=151')">Pokebals</li>
            <li class="list_item itemClass" [hidden]="isHovered === false" routerLink="/items/medicines" (click)="sendGeneration('?offset=151&limit=100')">Medicines</li>
            <li class="list_item itemClass" [hidden]="isHovered === false" routerLink="/items" (click)="sendGeneration('?offset=251&limit=135')">Berries</li>
            <li class="list_item itemClass" [hidden]="isHovered === false" routerLink="/items/keyItems" (click)="sendGeneration('?offset=386&limit=107')">Key items</li>
        </ul>
    </div>
    <app-searchbar></app-searchbar>
</div>
