/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Spectral&display=swap');

:root{
    --primary-bgColor: #304C89;
    --secondary-bgColor: #648DE5;
    --terciary-bgColor: #9EB7E5;
    --forth-bgColor: #E8DDB5;
    --fitht-bgColor: #23CE6B;
}
*{
    margin: 0;
    padding: 0;
}
